# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
intrinsic-finbert/
.env/

# Docker files
Dockerfile
.dockerignore

# System files
.DS_Store
*.log

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
*.swo
*.tmp
*.bak

# Dependency directories
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

